
<main class="container">

    <nav><a routerLink="/add">  
    <button class="ajouterBtn" mat-flat-button color="accent"
    >
    Ajouter devoir
    </button>
    </a></nav>

    <h2>Liste des Assignment</h2>
    <p> Nombre total d'assignments : {{totalDocs}}</p>
    <p> Nombre total de pages : {{totalPages}}</p>
    <p> Nombre assignments par page : <input type="range" min=1 max=100 value=10 (change)="getAssignments()" [(ngModel)]="limit"> {{limit}}</p>

<div class="pagination">
<button mat-raised-button color="primary" (click)="premierePage()" [disabled] = "page===1">Première </button>&nbsp; 
<button mat-raised-button color="primary" (click)="pagePrecedente()" [disabled] = "!hasPrevPage">Précédente</button>&nbsp;
<button mat-raised-button color="primary" (click)="pageSuivante()" [disabled] = "!hasNextPage">Suivante</button>&nbsp;
<button mat-raised-button color="primary" (click)="dernierePage()" [disabled] = "page===totalPages">Dernière</button>&nbsp;
</div>


    <table mat-table [dataSource]="assignments" class="mat-elevation-z8 demo-table">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Nom Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="dateDeRendu">
          <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
          <td mat-cell *matCellDef="let element"> {{element.dateDeRendu | date}} </td>
        </ng-container>
      
        <!-- Rendu Column -->
        <ng-container matColumnDef="rendu">
          <th mat-header-cell *matHeaderCellDef> Rendu </th>
          <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
        </ng-container>

        <!-- Matiere Column -->
        <ng-container matColumnDef="matiere">
            <th mat-header-cell *matHeaderCellDef> Matiere </th>
            <td mat-cell *matCellDef="let element"> {{element.matiere}} </td>
          </ng-container>

        <!-- Auteur Column -->
        <ng-container matColumnDef="auteur">
            <th mat-header-cell *matHeaderCellDef> Auteur </th>
            <td mat-cell *matCellDef="let element"> {{element.auteur}} </td>
          </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)= "navigateToAssignment(row.id)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
      </table>
       
    
</main>

